@model CourseDetailViewModel
<section class="course-info">
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Title <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i> Modifica</a></h1>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <a href="#" class="btn btn-warning btn-lg btn-block subscribe-course">Iscriviti</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" html-sanitize>
            @Model.Description
        </div>
        <div class="col-md-3">
            <aside>
                <author>di @Model.Author</author>
                <div class="rating" title="@Model.Rating">
                    <rating value="@Model.Rating"></rating>
                </div>
                <div class="price">
                    <price current-price="@Model.CurrentPrice" full-price="@Model.FullPrice"></price>
                </div>
                <img src="@Model.ImagePath" class="img-fluid course-image" alt="@Model.Title" asp-append-version="true">
            </aside>
        </div>
    </div>
</section>

<section class="course-lessons">
	<h2>Lezioni (@Model.Lessons.Count) <a class="btn btn-outline-primary btn-sm" asp-controller="Lessons" asp-action="Create" asp-route-id="@Model.Id"><i class="fas fa-plus"></i> Crea nuova</a></h2>
	@foreach (var lesson in Model.Lessons)
	{
	<hr>
	<div class="row">
		<div class="col-md-9 d-flex align-items-center">
		    <a asp-controller="Lessons" asp-action="Detail" asp-route-id="@lesson.Id">@lesson.Title</a>
		</div>
		<div class="col-md-3 d-flex align-items-center justify-content-end lesson-duration">
			<i class="far fa-clock"></i><time>@lesson.Duration.ToString("m'm 's's'")</time>
            <a class="btn btn-outline-primary btn-sm ml-3" asp-controller="Lessons" asp-action="Edit" asp-route-id="@lesson.Id"><i class="fas fa-pencil-alt"></i></a>
		</div>
	</div>
	}
    <hr>
    <div class="row course-duration">
		<div class="col-md-9 d-flex align-items-center">
            Totale
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <i class="far fa-clock"></i><time>@Model.TotalCourseDuration.ToString("h'h 'm'm 's's'")</time>
        </div>
    </div>
</section>