@model CourseDetailViewModel
<section class="course-info">
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Title</h1>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <a href="#" class="btn btn-warning btn-lg btn-block subscribe-course">Iscriviti</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>@Model.Description</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>di @Model.Author</author>
                <div class="rating" title="@Model.Rating">
                    @for(int i = 1; i <= 5; i++)
                    {
                        if (Model.Rating >= i)
                        {
                            <i class="fas fa-star"></i>
                        }
                        else if (Model.Rating > i - 1)
                        {
                            <i class="fas fa-star-half-alt"></i>
                        }
                        else
                        {
                            <i class="far fa-star"></i>
                        }
                    }
                </div>
                <div class="price">
                    @Model.CurrentPrice
                    @if(!Model.CurrentPrice.Equals(Model.FullPrice)) {
                        <br><s>@Model.FullPrice</s>
                    }
                </div>
                <img src="@Model.ImagePath" class="img-fluid course-image" alt="@Model.Title">
            </aside>
        </div>
    </div>
</section>

<section class="course-lessons">
	<h2>Lezioni (@Model.Lessons.Count)</h2>
	@foreach (var lesson in Model.Lessons)
	{
	<hr>
	<div class="row">
		<div class="col-md-9 d-flex align-items-center">
		    <a href="#">@lesson.Title</a>
		</div>
		<div class="col-md-3 d-flex align-items-center lesson-duration">
			<i class="far fa-clock"></i><time>@lesson.Duration.ToString("m'm 's's'")</time>
		</div>
	</div>
	}
    <hr>
    <div class="row course-duration">
		<div class="col-md-9 d-flex align-items-center">
            Totale
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <i class="far fa-clock"></i><time>@Model.TotalCourseDuration.ToString("h'h 'm'm 's's'")</time>
        </div>
    </div>
</section>