@model List<CourseViewModel>
<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Courses" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Cerca..." aria-label="Cerca..." aria-describedby="search-button">
                <div class="input-group-append">
                    <button class="input-group-text" id="search-button"><i class="fas fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

@foreach(CourseViewModel course in Model)
{
<hr>
<div class="row course">
    <div class="col-md-1">
        <img src="@course.ImagePath" width="52" height="52" alt="@course.Title">
    </div>
    <div class="col-md-5">
        <h2>@course.Title</h2>
        <author>di @course.Author</author>
    </div>
    <div class="col-md-2 rating" title="@course.Rating">
        @for(int i = 1; i <= 5; i++)
        {
            if (course.Rating >= i)
            {
                <i class="fas fa-star"></i>
            }
            else if (course.Rating > i - 1)
            {
                <i class="fas fa-star-half-alt"></i>
            }
            else
            {
                <i class="far fa-star"></i>
            }
        }
    </div>
    <div class="col-md-2 price">
        @course.CurrentPrice
        @if(!course.CurrentPrice.Equals(course.FullPrice)) {
            <br><s>@course.FullPrice</s>
        }
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.Id">Dettaglio</a>
    </div>
</div>
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item active" aria-current="page">
            <a class="page-link" asp-route-page="1">Page 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="2">Page 2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="3">Page 3</a>
        </li>
    </ul>
</nav>